/*大頭貼(目前沒用)*/
.btnnobr{
    border: none;
    background-color:white;
    color: #0275d8;
    
}
/*大頭貼(目前沒用)*/
.btnnobr:focus{
    outline: 0;
}

/*輸入框size*/
.ipsz{
    max-width: 400;
    width: 400px;
}


@media(max-width: 1000px)and (min-width: 350px){

    .ipsz{
        width: 300px;
    }
}

