.row{
    margin-left: -60px;
    margin-right: -60px;
}

.nav-link{
    color: grey;
    
    
}

.nav-link.active{
    background-color: white ! important;
    color: #0275d8 ! important;
}

.mynav{
    position: fixed;
    
}
