/*按鈕size*/
.btnsz{
    width: 200px;
    font-weight: bold;
}
/*username 排列*/
.ustl{
    display: inline-block;
}

@media (max-width: 965px) and (min-width: 380px){
    
    .btnsz{
        width: 100px; 
    }

}