.row{
    margin-left: -60px;
    margin-right: -60px;
}

.nav-link{
    color: grey;
    
    
}

.nav-link.active{

    background-color: white ;
    color: #0275d8 ;
    
}

/*未讀訊息*/
.unreadn{
    text-align: center;
    font-size: 12px;
    color: white;
    padding: 1px 5px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    background-color:#dc3545;
}

